a:hover {
  text-decoration: underline !important; /* Corrected 'limportant' to '!important' */
}

.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication-form {
  width: 400px;
}

.authentication .card-title { /* Fixed selector */
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orange; 
  color:black !important; 
  max-width: max-content !important; 
  padding: 7px 15px;
  margin-left: 40px;
  border-bottom-left-radius: 5px;
}
